{% extends 'dummy.html' %}
{% load static %}
{%  block title %}
<title>maid Page</title>
{% endblock %}

{% block body_block %}
<center>
<h2>Maid Request</h2>
   <form method="POST" action="{% url 'available_maids' %}">
    {% csrf_token %}
    <table>
        <tr>
            <td><label for="vsn">Society Name:</label></td>
        </tr>
        <tr>
            <td>
                <select name="s" id="vsn" style="width:440px; height: 30px;">
                    <option value="Society">Select Society</option>
                    <option value="Society">Society1</option>
                    <option value="Society">Society2</option>
                </select>
            </td>
        </tr>
        <tr>
            <td><label for="vsn">Preferred Gender:</label></td>
        </tr>
        <tr>
            <td>
                <select name="g" id="g" style="width:440px; height: 30px;">
                    <option value="Society">male</option>
                    <option value="Society">Female</option>
                    <option value="Society">Others</option>
                </select>
            </td>
        </tr>
        <tr>
            <td><label for="vsn">Name:</label></td>
        </tr>
        <tr>
            <td><input type="text" id="vsn"></td>
        </tr>
        <tr>
            <td><label for="Number">Contact Number:</label></td>
        </tr>
        <tr>
            <td><input  type="number"  id="Number"></td>
        </tr>
        <tr>
            <td><label for="se">Service Name:</label></td>
        </tr>
        <tr>
        <td>
            <input type="text" name="se" id="se">
        </td>
        </tr>
        <tr>
            <th>Services Required:</th>
        </tr>
        <tr>
            <td><input type="checkbox" name="sr" id="nn" style="position: relative;right: 220px;"></td>
        </tr>
        <tr>
            <td><label for="nn">Mopping</label></td>
        </tr>
        <tr>
            <td><input type="checkbox" name="sr" id="nn" style="position: relative;right: 220px;"></td>
        </tr>
        <tr>
            <td><label for="nn">Utensils Cleaning</label></td>
        </tr>
        <tr>
            <td><input type="checkbox" name="sr" id="nn" style="position: relative;right: 220px;"></td>
        </tr>
        <tr>
            <td><label for="nn">Sweeping</label></td>
        </tr>
        <tr>
            <td><input type="checkbox" name="sr" id="nn" style="position: relative;right: 220px;"></td>
        </tr>
        <tr>
            <td><label for="nn">Other (Please Specify)</label></td>
        </tr>
        <tr>
            <td><input type="checkbox" name="sr" id="nn" style="position: relative;right: 220px;"></td>
        </tr>
        <tr>
            <td><label for="nn">Washroom Cleaning</label></td>
        </tr>
        <tr>
            <td><input type="checkbox" name="sr" id="nn" style="position: relative;right: 220px;"></td>
        </tr>
    
        <tr>
            <td><label for="Number">House Size:</label></td>
        </tr>
        <tr>
            <td>
                <select name="hs" id="vsn" style="width:440px; height: 30px;">
                    <option value="Society">1BHK</option>
                    <option value="Society">2BHK</option>
                    <option value="Society">3BHK</option>
                    <option value="Society">Other</option>
                </select>
            </td>
        </tr>
        <tr>
            <td><label for="Number">Preferred Timings:</label></td>
        </tr>
        <tr>
            <td><input type="time" name="sti" id="sti"></td>
            <td><p style="text-align: center;">to</p></td>
            <td><input type="time" name="eti" id="eti"></td>
        </tr>
        
        <tr>
            <th> <input type="submit" value="Submit Request" class="btn btn-success"></th>

        </tr>
        
        
    </table>
   </form>
   </center>
   <style>
    form
    {
        background-color:ghostwhite;
        width: 1000px;
    }
    input
    {
        width:450px;
    }
   </style>

{% endblock %}
 